<div class="blade zoom-hovers">
  {{#each sections}}
    <a href="{{link}}">
      <figure style="background-image: url('{{image}}')"></figure>
      <div class="text">
        {{#each headers}}<h3>{{this}}</h3>{{/each}}
        {{#if text}}<p>{{text}}</p>{{/if}}
        {{#if cta}}<p class="cta">{{cta}} ›</p>{{/if}}
      </div>
    </a>
  {{/each}}
</div>
